input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.fc-v-event {
  background-color: #5fd080 !important;
  border: 1px solid #4caf50 !important;
}

.fc-timegrid-slot {
  height: 100px !important; /* Approximately 200% of default ~50px */
}
.fc-timegrid-slot-label {
  vertical-align: middle;
}