.courseDetailModal {
    .ant-modal {
        top: 10vh;
        border-radius: 10px;
    }

    .ant-modal-content {
        padding: 20px 24px !important;
        padding-right: 10px !important;
    }

    ::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #4AB569;
    }
}